absl-py==0.7.1
astor==0.7.1
cloudpickle==0.8.1
cycler==0.10.0
dask==1.1.5
decorator==4.4.0
djitellopy==1.5
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
imageio==2.5.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keras-vis==0.4.1
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
networkx==2.2
numpy==1.22.0
opencv-python==3.4.4.19
pandas==0.24.2
Pillow==6.0.0
protobuf==3.7.1
pygame==1.9.5
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
tensorboard==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
toolz==0.9.0
tqdm==4.31.1
Werkzeug==0.15.2
